.img {
  border-radius: 10px;
  object-fit: cover;
  object-position: 80%;
  height: 100%;
}

.wrapTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name,
.price {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.btnFavorite {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
}

.iconHeart {
  fill: rgba(16, 24, 40, 1);
}

.isSelect {
  fill: rgba(228, 72, 72, 1);
}

.wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}

.location {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.description {
  color: #475467;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  img {
    min-width: 100%;
  }
  .btnFavorite {
    padding: 0;
  }
  .name,
  .price,
  .rating,
  .location {
    font-size: 12px;
  }
  .description {
    font-size: 14px;
  }
}
