.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: #f2f4f7;
}

@media (max-width: 768px) {
  .list {
    margin-bottom: 20px;
  }
  .item {
    padding: 1px 10px;
  }
}
