.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}

.item {
  width: calc((100% - 24px) / 3);
}

@media (max-width: 768px) {
  .list {
    gap: 7px;
    margin-bottom: 20px;
  }
}
