.btn {
  width: 166px;
  padding: 16px 60px;
  border-radius: 200px;
  background-color: #e44848;
  border-color: transparent;
  font-size: 16px;
  font-family: inherit;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.08px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: rgba(216, 67, 67, 1);
}

.link {
  min-width: 166px;
  display: inline-block;
  padding: 16px 0px;
  border-radius: 200px;
  background-color: #e44848;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.08px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  background-color: rgba(216, 67, 67, 1);
}

.btnForm {
  composes: btn;
  display: block;
  margin: 0 auto;
}

.btnLoadMore {
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border-radius: 200px;
  border: 1px solid #dadde1;
  color: #101828;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: -0.08px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnLoadMore:hover,
.btnLoadMore:focus {
  border: 1px solid rgba(216, 67, 67, 1);
}
