.btn {
  width: 166px;
  padding: 16px 60px;
  border-radius: 200px;
  background-color: #e44848;
  border-color: transparent;
  font-size: 16px;
  font-family: inherit;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.08px;
}

.link {
  min-width: 166px;
  display: inline-block;
  padding: 16px 0px;
  border-radius: 200px;
  background-color: #e44848;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.08px;
  text-align: center;
}

.btnForm {
  composes: btn;
  display: block;
  margin: 0 auto;
}

.btnLoadMore {
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border-radius: 200px;
  border: 1px solid #dadde1;
  color: var(--Main, #101828);
  font-family: inherit;
  font-weight: 500;
  letter-spacing: -0.08px;
}
