.content {
  width: 360px;
  margin-bottom: 40px;
}

.text {
  color: #6c717b;
  margin-bottom: 8px;
}

.wrap {
  position: relative;
}

.location {
  width: 100%;
  box-sizing: border-box;
  padding: 18px 0;
  padding-left: 45px;
  border-radius: 12px;
  background-color: #f7f7f7;
  color: #101828;
  border-color: transparent;
}

.location::placeholder {
  color: #6c717b;
}

.icon {
  position: absolute;
  top: 18px;
  left: 20px;
}

@media (max-width: 1280px) {
  .content {
    width: 100%;
    margin-bottom: 20px;
  }
  .text {
    font-size: 12px;
  }
  .location {
    padding: 10px 0;
    padding-left: 45px;

    border-radius: 12px;
  }
  .icon {
    top: 10px;
    left: 20px;
  }
}
