.text {
  color: #101828;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.line {
  margin: 24px 0;
  height: 1px;
  background-color: #dadde1;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #101828;
  font-size: 16px;
  font-weight: 500;
}

.itemDetail {
  display: flex;
  justify-content: space-between;
}
