.section {
  padding: 48px 64px 80px 64px;
  min-height: 100vh;
}

.title {
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 8px;
}

.wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}

.location {
  display: flex;
  align-items: center;
}

.price {
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
}

.imagesList {
  display: flex;
  gap: 20px;
  min-height: 312px;
  margin-bottom: 28px;
}

.imgItem {
  width: calc((100% - 100px) / 4);
}

.img {
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
}

.description {
  color: #475467;
  margin-bottom: 60px;
}

.additionalInformation {
  display: flex;
  gap: 40px;
  padding-bottom: 24px;
  margin-bottom: 44px;
  border-bottom: 1px solid #dadde1;
}

.link {
  position: relative;
  color: #101828;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.link.active::before {
  position: absolute;
  top: 46px;
  content: "";
  display: inline-block;
  width: 85px;
  height: 5px;
  background-color: #e44848;
}

@media (max-width: 1280px) {
  .section {
    padding: 30px 20px 30px 20px;
  }
  .imagesList {
    display: block;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }

  .imgItem {
    width: 100%;
  }
  .img {
    min-width: 100%;
  }

  .additionalInformation {
    justify-content: center;
  }
}
