nav {
  display: flex;
  gap: 39px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}

.link {
  padding: 24px 0;
  color: #101828;
  font-weight: 500;
}

.active {
  color: #d84343;
}
