.section {
  display: flex;
  gap: 40px;
}

.content {
  width: calc((100% - 40px) / 2);
  padding: 44px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.listСharacteristics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 100px;
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: #f2f4f7;
}
