.content {
  width: calc((100% - 40px) / 2);
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

@media (max-width: 1280px) {
  .content {
    width: 100%;
  }
}
