.section {
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 72.8px);
}

@media (max-width: 768px) {
  .section {
    background-position: center;
  }
}
